@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");

:root {
  --primary-darker: #055276;
  --primary-normal: #077bb0;
  --primary-light: #b3e5fc;
  --seconday-darker: #19381b;
  --secondary-normal: #337136;
  --secondary-light: #81c784;
  --text-color: #4f4f4f;
}

/*General Styling*/
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 1.1rem;
  font-family: "Lexend", sans-serif;
  color: var(--text-color);
  line-height: 1.5; /*adjust line spacing to 1.5 for better readibility*/
  letter-spacing: 0.1em; /* Added spacing between characters to improve reading for people with dyslexia*/
}

h2,
h3,
h4 {
  letter-spacing: 0.3em; /* Adjusts spacing between characters to around 30% of the font-size for better readibility*/
  font-family: "Roboto Slab", serif;
  color: var(--primary-normal);
}

h2 {
  text-align: center;
  font-size: 160%;
}

section {
  margin-top: 0px;
}


/* Link styling */
a {
  color: var(--primary-normal);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--primary-darker);
  text-decoration: underline;
}

a:active {
  color: var(--primary-normal);
  text-decoration: underline;
}

/*utility class*/
.hidden {
  display: none;
}
.align-center {
  margin: 0 auto;
  display: block;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
}

/*Accessibility: Skip to main content
.skip-link {
  position: absolute;
  top: -20px;
  left: 50%;
  background-color: white;
  padding: 10px;
  z-index: 100;
  text-decoration: none;
  font-size: 1rem;
}

.skip-link:focus {
  top: 15px;
}
*/
/*Navigation*/
nav {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;
  height: 70px;
  width: 100%;
  padding: 0 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligns logo and menu in the center */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

#nav-toggle {
  /* Hide the checkbox */
  display: none;
}

i #nav-toggle-label {
  font-size: 2rem;
  cursor: pointer;
}

#nav-toggle-label {
  margin-right: 10px;
}

nav .logo-name {
  font-size: 130%;
  margin-left: 10px;
  font-weight: bold;
  display: none;
}

nav .logo-image {
  margin-left: 15px;
  height: 32px;
  float:left;
}

nav ul   {
  padding-left: 15px;
}

.nav-menu-list {
  display: none;
  list-style-type: none;
  font-size: 120%;
  position: absolute;
  top: 32px;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 20px 20px -15px rgba(0, 0, 0, 0.2);
}

.nav-menu-list > li {
  margin: 1rem 0;
}

/*style for menu links*/

nav a,
.nav-menu-list a {
  text-decoration: none;
  color: var(--text-color);
}
nav a:hover {
  text-decoration: none;
}

.nav-menu-list a {
  border-radius: 25px;
  padding: 6px 18px;
}

.nav-menu-list .active {
  color: #ffffff;
  background-color: var(--primary-normal);
}

.nav-menu-list a:hover,
.nav-menu-list a:focus {
  background-color: var(--primary-light);
  color: var(--text-color);
}
/* 

/*Nav menu appears when checkbox is selected*/
#nav-toggle:checked + #nav-toggle-label + .nav-menu-list {
  display: block;
}

/* Hero Cover */

.hero-image {
  /* Add padding at the top to prevent content from being covered by the navbar */
  padding-top: 47px;
  height: 600px;
  width: 100%;
  position: relative;
  background: url("../images/pexels-leeloothefirst-7304974.jpg") no-repeat
    center center/cover;
}

#home-hero-heading {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 70%;
  min-height: 160px;
  margin-right: 15px;
  padding: 15px; /*Adjusts padding to avoid content overflow*/
  box-sizing: border-box; /* Ensures padding is included in width calculations */
  color: #ffffff;
  background-color: rgba(5, 82, 118, 0.9);
}
#home-hero-heading h1 {
  font-size: 140%;
}
#home-hero-heading p {
  font-size: 120%;
}
/*Home Main*/

.flex-container section {
  flex-basis: 100%;
  margin-bottom: 20px;
}

/*About us*/

#about-us p {
  padding: 0 8%;
  text-align: center;
}

/* Home Content Cards*/
.card-container {
  text-align: center;
  padding: 0 25px;
  margin-bottom: 20px;
}

.card-container #services-summary-card,
.card-container #events-summary-card {
  flex-direction: column;
}
.card-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover; /* avoids image distortion */
}

.card-text {
  text-align: left;
  margin-bottom: 25px;
}

.card-container a {
  text-decoration: none;
}

#services-summary-image,
#events-summary-image {
  order: 1;
}
#services-summary-body,
#events-summary-body {
  order: 2;
}

/*buttons*/

.button {
  background-color: var(--primary-normal);
  padding: 10px 18px;
  border-radius: 28px;
  transition: all 100ms ease-in-out;
  color: #ffffff;
}

.button:hover,
.button:focus {
  background-color: var(--primary-light);
  color: #000000;
}

/*footer*/
footer {
  background-color: var(--seconday-darker);
  padding: 3rem 1.5rem;
  color: #ffffff;
  margin-top: 4rem;
  position: relative;
}

footer .grid-container {
  gap: 1rem;
  align-items: center;
}

footer a {
  color: var(--primary-light);
}

footer a:hover,
footer a:focus {
  color: #aedbb0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-map-list li {
  padding-bottom: 0.5rem;
}

/*social media*/
.social-media {
  border: 1px solid var(--primary-light);
  border-radius: 45px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  max-width: max-content; /* Ensurew container is as wide as content */
}

.social-media-text {
  display: block;
  margin-right: 5px;
}

i {
  padding: 0 5px;
  font-size: 1.8rem;
}

/*Media query for tablets (screens 768px or larger)*/

@media screen and (min-width: 768px) {
  /*Navbar*/
  #nav-toggle-label {
    display: none;
  }

  .nav-menu-list {
    display: inline-block;
    position: static;
    width: auto;
    justify-content: flex-end;
    box-shadow: none;
  }

  .nav-menu-list > li {
    display: inline-block;
    margin-right: 15px;
  }

  /* Hero Cover */
  #home-hero-heading {
    max-width: 360px;
    margin-right: 10%;
  }

  /* content cards */
  .flex-container #services-summary-card,
  .flex-container #events-summary-card {
    flex-direction: row;
  }
  #services-summary-image,
  #events-summary-image {
    order: 1;
    flex-basis: 48%;
    width: 48%; /*ensures that images takes only half screen*/
  }
  #services-summary-body,
  #events-summary-body {
    flex-basis: 48%;
    order: 2;
  }

  /*footer*/
  footer {
    padding: 3rem;
  }
  footer .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 10%;
  }
}

/*Media query for large screens (screens 992px or larger)*/

@media screen and (min-width: 992px) {

  nav .logo-name {
    display: inline-block;
  }
  
  main {
    margin: 0 auto;
    width: 85%;
  }

  #about-us p {
    text-align: left;
    padding: 0 20%;
  }
  /* equal space for sections*/
  .flex-container #services-summary,
  .flex-container #events-summary {
    flex-basis: 48%; /* Each section takes almost half the width */
  }
  /* home content cards */
  .flex-container #services-summary-card,
  .flex-container #events-summary-card {
    flex-direction: column;
  }
  .card-text {
    min-height: 180px;
  }
  #services-summary-image,
  #events-summary-image {
    flex-basis: 100%;
    width: 100%;
  }
  #services-summary-body,
  #events-summary-body {
    flex-basis: 100%;
  }

  /*footer*/
  footer .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .site-map {
    order: -2;
  }
}
/*Media query for XL screens (screens 1200px or larger)*/

@media screen and (min-width: 1200px) {
  /*card*/
  .card-body {
    min-height: auto;
  }
}
