/*Navigation*/

nav {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  right: 0;
  left: 0;
  top: 5px;
  z-index: 99;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  align-items: center; /* Aligns logo and menu in the center */
  box-sizing: border-box; /* keeps content from overflowing */
}

/* Hide the checkbox */
#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  cursor: pointer;
}

/*logo size*/
nav .logo-image {
  height: 32px;
  width: 32px;
  display: inline-block;
   padding-right: 5px; 
}

nav .logo-name {
font-size: 1.5rem;
vertical-align:super; }

#menu {
  display: none;
  list-style-type: none;
  font-size: 1.2rem;
  padding: 10px 20px 0;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #ffffff;
  width: 100%;
}

#menu > li {
  margin-bottom: 1rem;
}

/*style for menu links*/
nav a {
  text-decoration: none;
  color: inherit;
}
.active {
  border-bottom: 1px solid black;
}

/*Nav menu appears when checkbox is selected*/
#nav-toggle:checked + .nav-toggle-label + #menu {
  display: block;
}

/* Hero Cover */

header {
     /* Add padding at the top to prevent content from being covered by the navbar */
     padding-top: 47px;
     /*for testing*/
     height: 600px;
     width: 100%;
     position:relative;
     background: url("../images/pexels-leeloothefirst-7304974.jpg") no-repeat center center/cover;
    }

.hero-text {
    position: absolute;
    bottom: 30px;
    width: 70%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.7);
}
/*Media query for tablets (screens 768px or larger)*/

@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  #menu {
    display: flex; /* Makes menu horizontal */
    position: static; /* Remove absolute positioning */
    margin: 0;
    padding: 0;
    vertical-align: middle;

  }

  #menu > li {
    display: inline-block;
    padding: 0 15px;
  }
}
