

*{
  box-sizing: border-box;
}
/*Navigation*/

nav {
  position: absolute;
  left: 0;
  top: 5px;
  z-index: 99;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligns logo and menu in the center */
}

/* Hide the checkbox */
#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  cursor: pointer;
}

/*brand container*/

nav .logo-name {
  font-size: 1.2rem;
}

#menu {
  display: none;
  list-style-type: none;
  font-size: 1.2rem;
  padding: 10px 20px 0;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #ffffff;
  width: 100%;
}

#menu > li {
  margin-bottom: 1rem;
}

/*style for menu links*/
nav a {
  text-decoration: none;
  color: inherit;
}
.active {
  border-bottom: 1px solid black;
}

/*Nav menu appears when checkbox is selected*/
#nav-toggle:checked + .nav-toggle-label + #menu {
  display: block;
}

/* Hero Cover */

header {
  /* Add padding at the top to prevent content from being covered by the navbar */
  padding-top: 47px;
  height: 600px;
  width: 100%;
  position: relative;
  background: url("../images/pexels-leeloothefirst-7304974.jpg") no-repeat
    center center/cover;
}

.hero-text {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 70%;
  min-height: 160px;
  margin-right: 15px;
  padding: 15px; /*Adjusts padding to avoid content overflow*/
  box-sizing: border-box; /* Ensures padding is included in width calculations */
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}
/*Media query for tablets (screens 768px or larger)*/

@media screen and (min-width: 768px) {

  /*Navbar*/
  .nav-toggle-label {
    display: none;
  }

  #menu {
    display: inline-block;
    position: static;
    padding: 0;
    width: auto;
    justify-content: flex-end;
  }

  #menu > li {
    display: inline-block;
    padding: 0 15px;
    margin: 0;
  }

  /* Hero Cover */
.hero-text {
  max-width: 360px;
  margin-right: 10%;
}
}


/*Media query for large screens (screens 992px or larger)*/

@media screen and (min-width: 992px) {
  /* Hero Cover */
.hero-text {
  margin-right: 15%;
}
}
